<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>TTS AI</title>
</head>

<body>

<h2>Tạo giọng đọc</h2>

<form action="/create_audio" method="post">

<textarea name="text" rows="8" cols="60"></textarea>

<br><br>

<select name="voice">
<option value="nu">Nữ</option>
<option value="nam">Nam</option>
</select>

<br><br>

<button type="submit">Tạo MP3</button>

</form>

{% if audio %}

<h3>Nghe thử</h3>

<audio controls>
<source src="/download/{{audio}}" type="audio/mpeg">
</audio>

<br><br>

<a href="/download/{{audio}}">Tải file</a>

{% endif %}

</body>
</html>
